/* Everything in here is a COMMENT CODE */

body
{
    /*background-color: aqua;*/
    background-image: url("img/toad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h4
{
    color: blueviolet;
}
/* Style a specific section of the page that has an ID= using the hashtag feature */
#textEnhance
{
    color: mediumvioletred;
    background-image: linear-gradient(yellow,blue,green);
}