/* TABLE */
#firstTable
{
    border-style: dot-dash;
    border-color: hotpink;
}

/* NAVIGATION BAR */
/* when we have CLASS= we use the . in CSS */
.topNav
{
    background-color: lightblue;
    overflow: hidden; /* this addresses errors with sizing */
}


/* style the links inside the navbar */
.topNav a
{
    float: middle;
    color: black;
    text-align: center;
    line-height: 50px;
    padding: 18px 16px;
    font-size: 17px;
    text-decoration: none;
}

/* Change the color of links on HOVER */
.topNav a:hover
{
    background:lightgoldenrodyellow;
    color: hotpink;
}